coursework_part_one/transactions.dtd

<!DOCTYPE name SYSTEM "output.xml">
<!ELEMENT transactions(giftShop+)>
<!ELEMENT giftShop(#PCDATA | transactionDate)>
<!ELEMENT transactionDate(#PCDATA | transaction*)>
<!ELEMENT transaction(#PCDATA | _transaction and customer details*)>
<!ELEMENT _transaction and customer details(#PCDATA)>

<!ATTLIST>
<!ATTLIST>